@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  background: #e84242;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.header {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  position: sticky;
  top: 0;
  border-radius: 70px;
  margin-top: 20px;
  height: 100px;
  padding: 0 30px;
  z-index: 1000;
  -webkit-box-shadow: 0px 0px 21px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 21px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 21px -5px rgba(0, 0, 0, 0.75);
  transition: ease 0.3s;
}
.navbar {
  display: flex;
  align-items: center;
  list-style-type: none;
  transition: ease 0.3s;
}
.navbar li {
  padding: 0 15px;
}
.navbar li a {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
}
.navbar li a:hover {
  padding-bottom: 2px;
  border-bottom: 2px solid red;
}
.h-icons i {
  font-size: 20px;
  margin: 0 3px;
  transition: cubic-bezier(0.39, 0.58, 0.57, 1) 0.3s;
}
.search-form {
  display: flex;
  align-items: center;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 120px;
  right: 50px;
  transform: scale(0);
  transition: ease 0.3s;
  border-radius: 20px;
  overflow: hidden;
}
.search-form-active {
  transform: scale(100%);
  transition: ease 0.3s;
}
.search-form input {
  outline: none;
}
.search-form button,
input {
  padding: 5px 12px;
  background-color: #fff;
  border: none;
}
.search {
  cursor: pointer;
}
.home {
  background: url("../images/home.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  margin-top: -120px;
  padding: 0 5%;
  transition: ease 0.3s;
}
.home .text {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.text h1 {
  font-size: 50px;
  color: white;
}
.text p {
  color: rgb(233, 233, 233);
  margin-top: 10px;
}
.home-btn {
  padding: 12px 20px;
  border-radius: 70px;
  background-color: black;
  width: 130px;
  margin-top: 10px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  text-align: center;
}
.our-menu-box:hover {
  transform: translateY(-2px);
  transition: ease 0.3s;
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
}
.our-menu-box img {
  object-fit: cover;
}
.content-ourmenu {
  padding: 30px 5%;
  transition: ease 0.3s;
}
.menu {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  justify-content: center;
  gap: 2rem;
}
.our-menu-box {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  transition: ease 0.3s;
}
.menu .our-menu-box img {
  width: 100%;
}
.our-btn {
  padding: 12px 20px;
  border-radius: 70px;
  background-color: black;
  display: inline-block;
  text-decoration: none;
  margin-top: 10px;
  color: white;
  font-weight: 500;
  text-align: center;
}
.products-menu-box {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  transition: ease 0.3s;
}
.products-menu-box:hover {
  transform: translateY(-2px);
  transition: ease 0.3s;
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
}
.products-menu-box img {
  width: 100%;
}
.products-content {
  padding: 30px 5%;
  transition: ease 0.3s;
}
.burger-menu i {
  font-size: 25px;
}
.burger-menu {
  display: none;
}
.products-btn {
  position: absolute;
  padding: 10px 15px;
  border-radius: 120px;
  border: 2px solid red;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  gap: 2rem;
}
.about-content {
  transition: ease 0.3s;
  padding: 30px 5%;
}
.right {
  color: white;
}
.right p {
  letter-spacing: 1px;
  margin: 10px 0;
}
.contact-right {
  padding: 20px 10px;
  background-color: black;
  color: white;
  height: 100%;
}
.container-contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
}
.contanct-us {
  padding: 30px 5%;
  transition: ease 0.3s;
}
.name {
  border: 1px solid gray;
  padding: 10px 10px;
  margin: 15px 0;
}
.name input {
  background: none;
  outline: none;
  color: white;
}
.contact-btn {
  padding: 12px 20px;
  border-radius: 70px;
  background-color: white;
  display: inline-block;
  text-decoration: none;
  margin-top: 10px;
  font-weight: 500;
  text-align: center;
  color: black;
  margin: auto;
}
.blog-content {
  padding: 30px 5%;
  transition: ease 0.3s;
}
.blog-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 2rem;
}
.blog-box img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.blog-box {
  background-color: #fff;
  border-radius: 10px;
  transition: ease 0.3s;
}
.blog-text {
  padding: 20px;
}
@media screen and (max-width: 1010px) {
  .header {
    width: 95%;
    transition: ease 0.3s;
  }
  .home {
    padding: 0 2.5%;
    transition: ease 0.3s;
  }
  .content-ourmenu {
    padding: 30px 2.5%;
    transition: ease 0.3s;
  }
  .products-content {
    padding: 30px 2.5%;
    transition: ease 0.3s;
  }
  .about-content {
    padding: 30px 2.5%;
    transition: ease 0.3s;
  }
  .contanct-us {
    padding: 30px 2.5%;
    transition: ease 0.3s;
  }
  .blog-content {
    padding: 30px 2.5%;
    transition: ease 0.3s;
  }
}
@media screen and (max-width: 910px) {
  .header {
    margin-top: 0;
    border-radius: 0;
    width: 100%;
    padding: 0 13px;
  }
  .home {
    margin-top: -100px;
  }
}
@media screen and (max-width: 810px) {
  .navbar {
    position: absolute;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    top: 0px;
    left: 0;
    padding: 100px 0 0 15px;
    transform: translateX(-100%);
    transition: ease 0.3s;
  }
  .navbar li {
    border-bottom: 1px solid rgb(230, 230, 230);
    width: 100%;
    padding: 10px 0;
  }
  .burger-menu {
    display: block;
    z-index: 1000;
  }
  .active {
    transform: translateX(0);
    transition: ease 0.3s;
  }
  .products-content,
  .content-ourmenu,
  .about-content,
  .contanct-us,
  .blog-content {
    padding: 30px 8%;
  }
  .navbar.active body {
    overflow-y: hidden;
  }
}
